.shoppingCart {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .cartItems,
  .cartSummary {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .cartItems {
    width: 60%;

    .cartItem {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .itemImage {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }

      .quantityControl {
        display: flex;
        align-items: center;


        button {
          width: 30px;
          height: 30px;
        }

        input {
          width: 40px;
          text-align: center;
        }

      }
    }
  }

  .cartSummary {
    width: 35%;

    select,
    input {
      width: 100%;
      padding: 8px;
      margin-top: 10px;
    }

    .button {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background-color: #000;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #333;
      }
    }
  }


}