.item {
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--light-pink);
    border-bottom: 1px solid var(--light-pink);
    

    img {
        width: 8rem;
        height: 8rem;
        background-color: rgb(66, 57, 39);
    }

    .details {
        width: 18rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        font-family: var(--secondary-font);
       
        h3 {
            color: var(--brown);
        }

        p {
            text-transform: lowercase;
            color: var(--light-pink);
        }
    }

    input[type="number"] {
        width: 4rem;
        height: 2rem;
        text-align: center;
        cursor: pointer;
        border: 1px solid var(--light-pink);
        font-family: var(--secondary-font);
        font-size: 1rem;
        color: var(--brown);
    }

    .price,.total {
        font-family: var(--secondary-font);
        font-size: 1rem;
        width: 5rem;
        color: var(--brown);
    }


    button {
        font-family: var(--main-font);
        background-color: var(--pink);
        border-radius: 0.4rem;
        border-style: none;
        color: #FFFFFF;
        padding: 0.7rem 1rem;
        cursor: pointer;

        i {
            padding-left: 0.4rem;
        }

        &:hover {
            background-color: var(--light-pink);
        }
    }
}